/*设置的样式规格*/
html {
    height:100%;
}
body {
    background-color:#eff7e6;
    height:100%;
}
div {
    margin:1%;
}
header {
    width:100%;
    padding:0.5%;
    background-color:#295aa5;
    text-align:left;
    color:#ffffff;
}
nav {
    position:fixed;
    right:1%;
    top:25%;
    width:10%;
    background-color:#42ce73;
    float:right;
    margin:1%;
    padding:0.5%;
}
footer {
    position: relative;
    margin-top:28%;
    width:100%;
    padding:0.5%;
    background-color:#295aa5;
}
.General {
    color:#ffffff;
    text-align:center;
}
.MCStyle {
    text-align:center;
    width:87%;
    color:#000000;
    font-size:340%;
    padding:0.5%;
}
.bBorder {
    border-style:none solid none solid;
    border-width:2px;
    border-color:#52bdbd;
    margin:1%;
}